@model  IEnumerable<DBLib.SQLite.Mappings.CRMApplication>

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
    <div class="col-md-10">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <td>ID</td>
                    <td>Дата принятия</td>
                    <td>Клиент</td>
                    <td>Номер телефона</td>
                    <td>Причина</td>
                    <td>Заявку принял</td>
                    <td>Тип оборудования</td>
                    <td>Бренд</td>
                    <td>Модель</td>

                </tr>
            </thead>
            <tbody>
                @{
                    try
                    {
                        foreach (var applic in ViewBag.Applications)
                        {
                <tr>
                    <td style="padding:5px">   @applic.ID  </td>
                    <td style="padding:5px">   @applic.AcceptingDate  </td>
                    <td style="padding:5px">   @applic.Applicator  </td>
                    <td style="padding:5px">   @applic.PhoneNumber  </td>
                    <td style="padding:5px">   @applic.Reason  </td>
                    <td style="padding:5px">   @applic.Operator.FullName  </td>
                    <td style="padding:5px">   @applic.Type.Name  </td>
                    <td style="padding:5px">   @applic.Brand.Name  </td>
                    <td style="padding:5px">   @applic.Model.Name  </td>

                </tr>
                        }
                    }
                    catch
                    {
                        @Html.Action("WrongInput", "Home");
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-2">

        <form action="/Home/ApplicationList" method="post" style="margin-top:10%">
            <h3>Регистрация Заявки</h3>
            <div class="form-horizontal">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Имя клиента</span>
                    </div>
                    <input name="Applicator" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Номер телефона</span>
                    </div>
                    <input name="PhoneNumber" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Причина обращения</span>
                    </div>
                    <input name="Reason" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Тип техники</span>
                    </div>
                    <input list="TechType" name="TypeName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <datalist id="TechType">
                    @{
                        using (var session = DBLib.NhibernateHelper.OpenSession())
                        {
                            var repository = new DBLib.Repository<DBLib.SQLite.Mappings.TechType>(session);
                            var Types = repository.GetList();
                            foreach (var _type in Types)
                            {
                                <option value="@_type.Name"></option>
                            }
                        }
                    }
                </datalist>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Бренд</span>
                    </div>
                    <input list="BrandList" name="BrandName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <datalist id="BrandList">
                    @{
                        using (var session = DBLib.NhibernateHelper.OpenSession())
                        {
                            var repository = new DBLib.Repository<DBLib.SQLite.Mappings.Brand>(session);
                            var brands = repository.GetList();
                            foreach (var brand in brands)
                            {
                                <option value="@brand.Name"></option>
                            }
                        }
                    }
                </datalist>


                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Модель</span>
                    </div>
                    <input list="ModelList" name="ModelName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <datalist id="ModelList">
                    @{
                        using (var session = DBLib.NhibernateHelper.OpenSession())
                        {
                            var repository = new DBLib.Repository<DBLib.SQLite.Mappings.Model>(session);
                            var models = repository.GetList();
                            foreach (var mod in models)
                            {
                                <option value="@mod.Name"></option>
                            }
                        }
                    }
                </datalist>

                <div class="input-group input-group-sm mb-3">
                    <input type="submit" class="btn-block btn-primary btn-lg btn-block" value="Сохранить" style="margin-top:5%">
                </div>
            </div>
        </form>

    </div>

</div>

