@model  IEnumerable<DBLib.SQLite.Mappings.CRMApplication>

<h1>@ViewBag.Title</h1>
<h2>Список зарегистрированных заявок</h2>

<div class="col-md-12">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td>ID</td>
                <td>Дата принятия</td>
                <td>Клиент</td>
                <td>Номер телефона</td>
                <td>Причина</td>
                <td>Тип оборудования</td>
                <td>Бренд</td>
                <td>Модель</td>
                <td>Заявку принял</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var applic in ViewBag.Applications)
                {
            <tr>
                <td style="padding:5px">   @applic.ID  </td>
                <td style="padding:5px">   @applic.AcceptingDate  </td>
                <td style="padding:5px">   @applic.Applicator  </td>
                <td style="padding:5px">   @applic.PhoneNumber  </td>
                <td style="padding:5px">   @applic.Reason  </td>
                <td style="padding:5px">   @applic.Type  </td>
                <td style="padding:5px">   @applic.Brand  </td>
                <td style="padding:5px">   @applic.Model  </td>
                <td style="padding:5px">   @applic.Operator  </td>
            </tr>
                }
            }
        </tbody>
    </table>
    </div>

