@model  IEnumerable<DBLib.SQLite.Mappings.Operator>


<h2>@ViewBag.Title</h2>

<div class="container-fluid">

    <div class="col-md-8">

        <div class="col-md-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <td>ID</td>
                        <td>Имя</td>
                        <td>Фамилия</td>
                        <td>Место работы</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var employee in ViewBag.Employees)
                        {
                    <tr>
                        <td style="padding:5px">   @employee.ID  </td>
                        <td style="padding:5px">   @employee.Name  </td>
                        <td style="padding:5px">   @employee.SecondName  </td>
                        <td style="padding:5px">   @employee.ServicePoint.Title  </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-md-4">

        <form action="/Home/Employees" method="post" style="margin-top:10%">
            <h3>Регистрация пользователя</h3>
            <div class="form-horizontal">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Имя</span>
                    </div>
                    <input name="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Фамилия</span>
                    </div>
                    <input name="SecondName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <input type="submit" class="btn-block btn-primary btn-lg btn-block" value="Сохранить" style="margin-top:5%">
                </div>
            </div>
        </form>

    </div>
</div>
